.rule {
  background-color: silver;
  padding: 10px;
  margin: 5px 5px 10px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }

.validator-examples {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #dddddd;
  border-top-width: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  .validator-examples h3 {
    margin-top: 0; }
