!!!5
head
	title Valid8r Examples
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")

body
	.container
		h1 Valid8r 
			small Validation for multiple programming languages.
		h2 Valid8r Examples
		p The  
			a(href="kitchen-sink") Kitchen Sink
			|  is the only example available right now.